<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873463133708-vpi6s0ihieebg6msvtjt9m6b0lg9ku02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873463133708-vpi6s0ihieebg6msvtjt9m6b0lg9ku02</string>
	<key>API_KEY</key>
	<string>AIzaSyABs-48ap0QvAHuTJ-ZTHHvjKi64A-Vq2w</string>
	<key>GCM_SENDER_ID</key>
	<string>873463133708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user.management1996.ios</string>
	<key>PROJECT_ID</key>
	<string>usermanagament</string>
	<key>STORAGE_BUCKET</key>
	<string>usermanagament.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873463133708:ios:01e3fe4485278a7b1f6029</string>
	<key>DATABASE_URL</key>
	<string>https://usermanagament-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>